@{
    ViewBag.Title = "ShowIndex";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}


@section span9{
    
    <div id="banner" style="margin-top: 81px; margin-bottom: 0">
        <div class="row-fluid">
            <div class="span12">
                <div id="myCarousel" class="carousel slide" style="margin-bottom: 0">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="~/Content/images/cui/xiaoche.jpg" />
                            <div class="carousel-caption">
                                <a href="calendar.html" class="indexCar-a">
                                    <h4>优秀课程</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/images/cui/keji.jpg" />
                            <div class="carousel-caption">
                                <a href="/Index/GoodStuWork?flag=g" class="indexCar-a">
                                    <h4>优秀作品</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item active">
                            <img src="~/Content/images/cui/keji.jpg" />
                            <div class="carousel-caption">
                                <a href="calendar.html" class="indexCar-a">
                                    <h4>学习介绍</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>

            </div>
        </div>
    </div>
    <!--
    <div id="container" class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="i_in">
                    <div class="in_t"></div>
                    <div class="in_l">
                        <ul>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="i_in">
                    <div class="in_t"></div>
                    <div class="in_l">
                        <ul>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="i_in">
                    <div class="in_t"></div>
                    <div class="in_l">
                        <ul>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>
                            <li><a href="#">
                                <p>2012-02-12</p>
                                <i>情人节来临，你还记得你们的感动瞬间... </i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--container网页主体-->

    <div id="container" class="container-fluid" style="margin-top:40px;">
        <div class="row-fluid">
            <div class="span10 offset1">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <a href="#">
                            <img src="~/Content/images/cui/kc.png" />
                            <h3>优秀课程</h3>
                           </a>
                        </div>
                    </li>
                     <li class="span4">
                        <div class="thumbnail">
                            <a href="/Index/GoodStuWork?flag=g">
                            <img src="~/Content/images/cui/zp.png" />
                           
                            <h3>优秀作品</h3>
                           </a>
                        </div>
                    </li>
                     <li class="span4">
                        <div class="thumbnail">
                            <a href="#">
                            <img src="~/Content/images/cui/js.png" />
                           
                            <h3>学习介绍</h3>
                           </a>
                        </div>
                    </li>

                   

                </ul>


            </div>
        </div>
    </div>
  
    <!--footer页脚，版权、联系方式等-->


    <!--弹出登录对话框-->
}




