@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/student_Layout.cshtml";
}

@section head{
  
        <!-- Bootstrap -->
        <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
     <link href="~/Content/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
       
        <link href="~/Content/assets/styles.css" rel="stylesheet" media="screen">
        <!-- 乱码的原因是没有设置参数-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="~/Content/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
      }
@section span9{
    <div class="span9" id="content">
      <div class="row-fluid"> 
        <!-- block -->
        <div class="block">
    
    <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">博客信息 </div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span13">
                                <form  id="addBolg" class="form-horizontal" method="post">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="focusedInput">题目</label>
                                            <div class="controls">
                                                <input class="input-xlarge focused" id="focusedInput" name="TitleName" type="text" value="添加题目">
                                            </div>
                                        </div>
                                        <div class="control-group success">
                                            <label class="control-label" for="selectError">关联课程</label>
                                            <div class="controls">
                                                <select name="teacher" id="selectError">
                                                 @{foreach (var course in ViewBag.Course)
                                                      {
                                                          
                                                        <text>
                                                        <option value= "@(course.Id)">@(course.CourseName)</option>

                                                        </text> 
                                                      }}




                                                </select>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="textarea2">博客内容</label>
                                            <div class="controls">
                                                <textarea class="input-xlarge textarea" placeholder="Enter text ..." name="BlogContent" style="width: 810px; height: 450px"></textarea>
                                            </div>
                                        </div>
                          
                                            
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        重置
                    </button>
                    <button type="button" class="btn btn-primary" onclick="submitAdd()">保存信息 </button>
       
        <!-- /block --> 
      </div>
    </div>
 }
        <!--/.fluid-container-->
       @section booterScript{
<link href="~/Content/vendors/datepicker.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendors/uniform.default.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendors/chosen.min.css" rel="stylesheet" media="screen">

    <link href="~/Content/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

    <script src="~/Content/vendors/jquery-1.9.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/jquery.uniform.min.js"></script>
    <script src="~/Content/vendors/chosen.jquery.min.js"></script>
    <script src="~/Content/vendors/bootstrap-datepicker.js"></script>

    <script src="~/Content/vendors/wysiwyg/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>

    <script src="~/Content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

    <script type="text/javascript" src="~/Content/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/assets/form-validation.js"></script>
              <script src="~/Content/CenterUI/StudentUI.js"></script>
        <script>

            jQuery(document).ready(function () {
                FormValidation.init();
            });
            $(function () {
                $(".datepicker").datepicker();
                $(".uniform_on").uniform();
                $(".chzn-select").chosen();
                $('.textarea').wysihtml5();
                $("[data-toggle='popover']").popover();
                $('#rootwizard').bootstrapWizard({
                    onTabShow: function (tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.bar').css({ width: $percent + '%' });
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    }
                });
                $('#rootwizard .finish').click(function () {
                    alert('Finished!, Starting over!');
                    $('#rootwizard').find("a[href*='tab1']").trigger('click');
                });
            });

            function submitAdd() {

                $("#addBolg").submit();
               

            }

    




            //改变GroupID
    
           
        </script>
     }





@section ModalShow{

    
}





