@{
    ViewBag.Title = " Login";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">

<head>
    <title> Login</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="/Home/Index" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

       

        <input name="Account" type="text" class="input-block-level" placeholder="Email address">
        <input name="Pwd" type="password" class="input-block-level" placeholder="Password">

        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
        <a href="/Index/ShowIndex">回到首页</a>
    </div> <!-- /container -->
    <script src="~/Content/vendors/jquery-1.9.1.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
  </body>
    </html>